<header id="forgot-password" class="bg-info text-center">
    <a href="/" class="btn btn-success back-to-site"><i class="fa fa-long-arrow-left"></i>&nbsp;&Icirc;napoi la pagina de prezentare</a>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel">
                    <div class="panel-heading">
                        <h3 class="text-info">Recupereaz&abreve; Parola</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/forgot-password" method="post">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                    </div>
                                    <span class="{{class}}">{{{message}}}</span>
                                    <button type="submit" class="btn btn-block btn-primary">Trimite</button>
                                </div>
                            </div>
                            <div class="row text-left">
                                <div class="col-md-12">
                                    <a href="/login">&Icirc;napoi la Sign In!</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>