<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">O &Icirc;ntrebare pe S&abreve;pt&abreve;m&acirc;n&abreve;</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn btn-xs btn-primary" href="/login">Login</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>O &icirc;ntrebare pe s&abreve;pt&abreve;m&acirc;n&abreve;!</h1>
                        <h1 class="small">R&abreve;spunde la &icirc;ntreb&abreve;rile noastre puse &icirc;n cel mai simplu mod &#x219;i spore&#x219;te-&#539;i veniturile</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">&Icirc;ncearc&abreve; acum!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6 portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Descoper&abreve; ce p&abreve;reri au &#x219;i ceilal&#539;i consumatori!</h2>

                <p>Aplica&#539;ia noastr&abreve; este disponibil&abreve; pe orice platform&abreve; mobil&abreve;! Descarc-o acum de pe</p>

                <div class="badges">
                    <a class="badge-link" href="#" target="_blank"><img src="img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#" target="_blank"><img src="img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Nou&abreve; ne plac statisticile</h2>

                    <p class="text-muted">Cum po&#539;i participa?</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup ipad_air_2 portrait silver">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""></div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>

                                <h3>Descarci aplica&#539;ia mobil&abreve;</h3>

                                <p class="text-muted">&Icirc;&#539;i faci cont &#x219;i noi &icirc;&#539;i trimitem o &icirc;ntrebare pe s&abreve;pt&abreve;m&acirc;n&abreve;</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-book-open text-primary"></i>

                                <h3>Tu r&abreve;spunzi la &icirc;ntrebare &#x219;i noi &icirc;&#539;i d&abreve;m puncte</h3>

                                <p class="text-muted">Cu c&acirc;t r&abreve;spunzi la mai multe &icirc;ntreb&abreve;ri prime&#x219;ti mai multe puncte</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>

                                <h3>Transform&abreve; punctele &icirc;n bani</h3>

                                <p class="text-muted">C&acirc;nd te-ai hot&abreve;r&acirc;t c&abreve; ai str&acirc;ns destule puncte, transform&abreve;-le &icirc;n bani</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>

                                <h3>Mai multe &#x219;anse de c&acirc;stig</h3>

                                <p class="text-muted">Pe m&abreve;sur&abreve; ce r&abreve;spunzi la &icirc;ntreb&abreve;ri &#539;i se deschide accesul la mai multe &icirc;ntreb&abreve;ri</p>
                            </div>
                        </div>
                    </div>
                    <a href="/login" class="btn btn-xl btn-info">F&abreve;-&#539;i  cont acum!</a>
                </div>
            </div>
        </div>
</section>

<!--<section class="cta">-->
    <!--<div class="cta-content">-->
        <!--<div class="container">-->
            <!--<h2>Stop waiting.<br>Start building.</h2>-->
            <!--<a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="overlay"></div>-->
<!--</section>-->

<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>Noi <i class="fa fa-heart"></i> statisticile!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="https://www.facebook.com/ointrebarepesaptamana/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2016 Rain Software. Toate Drepturile Rezervate.</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
